---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About us">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About us</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        The meaning behind ‘grupetto’
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          A group of cyclists formed behind the main group or peloton (normally in mountain stages), with an objective to ride together to the finishing line, so that everyone in the grupetto meets the cut-off time to continue to the next stage.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Due to the common interest in survival, the vibe in the grupetto often has a greater sense of camaraderie compared to the peloton. Riders often assist one another with food and drinks despite riding for rival teams. It is sometimes referred to as "the laughing group". 
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <div class="w-full lg:w-1/4 aspect-square flex justify-center items-center">
          <Picture
            src="/grupetto-1.png"
            alt="group of cyclists cycling together"
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
          />
        </div>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Our ethos
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          We believe that most people take up cycling because they want to be a better version of themselves. 
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Some people ride because they want to be physically & mentally healthier.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Some people ride because being healthy allows them to be present for their family members.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Some people ride because they want to push their limits, mentally and physically.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          People ride, because they love the healthy lifestyle that comes with the sport of cycling and…..
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        The Grupetto values
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          The community first (Spirit of Grupetto)
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Be genuine and genuinely good personnel 
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Pushing personal limits together for better
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
          Health and family is wealth
      </p>
    </div>
  </Container>
</Layout>
